## Kaggle Python public API for data collection : Notebook Classification TASK

In [1]:
DATA_PATH_KEYWORDS = '../data/search_keywords.csv'
DATA_PATH_NOTEBOOKS = '../data/'

Importing librairies

In [2]:
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd
import numpy as np

In [3]:
api = KaggleApi()
api.authenticate()

Read the file containing the search keywords used to retrieve notebooks

In [5]:
keywords_df = pd.DataFrame(columns=['Category', 'Subcategory'])
keywords_df = pd.read_csv(DATA_PATH_KEYWORDS, sep=';') 
keywords_df

               subcategory                category
0        linear regression              regression
1         lasso regression              regression
2   randomforestregression              regression
3         ridge regression              regression
4             XGBRegressor              regression
..                     ...                     ...
89                   sarsa  reinforcement learning
90                    ddpg  reinforcement learning
91               qlearning  reinforcement learning
92         markov decision  reinforcement learning
93           reinforcement  reinforcement learning

[94 rows x 2 columns]

The following function returns the category of a Notebook based on its subcategory

In [4]:
def search(sub,data):
    for i in data.index:
        if data.loc[i]['subcategory'] == sub:
            return data.loc[i]['category']

# List of notebooks

In [5]:
df = pd.DataFrame(columns=['title','subcategory','category'])

In [ ]:
for keyword in keywords_df['subcategory']:
    for i in range(1,11):
        try :
                kernels = api.kernels_list(search = keyword, page=i)
                for kernel in kernels:
                    df.loc[len(df)]=[kernel,keyword,search(keyword,keywords_df)]
        except Exception as e:
            print('Kaggle API exception :', kernel, 'Notebook not found')

In [13]:
df.head(10)

,title,subcategory,category
0,Linear Regression Tutorial,linear regression,regression
1,Car Price Prediction (Linear Regression - RFE),linear regression,regression
2,Multiple Linear Regression,linear regression,regression
3,Simple Linear Regression for Salary Data,linear regression,regression
4,Price analysis and Linear Regression,linear regression,regression
5,Linear Regression Project,linear regression,regression
6,PyTorch basics - Linear Regression from scratch,linear regression,regression
7,FIFA in depth analysis with Linear Regression,linear regression,regression
8,Sales Prediction (Simple Linear Regression),linear regression,regression
9,Linear Regression,linear regression,regression

In [ ]:
df.to_csv(DATA_PATH_NOTEBOOKS+'ntb_list.csv')

### Before collecting
- Delete duplicate notebooks : print duplicate categories => choose best category to keep
- Delete notebooks with non-english titles

In [8]:
df = pd.read_csv(DATA_PATH_NOTEBOOKS+'ntb_list.csv', sep=',', encoding='utf-8', index_col=0)
df.head()

,title,subcategory,category
0,Linear Regression Tutorial,linear regression,regression
1,Car Price Prediction (Linear Regression - RFE),linear regression,regression
2,Multiple Linear Regression,linear regression,regression
3,Simple Linear Regression for Salary Data,linear regression,regression
4,Price analysis and Linear Regression,linear regression,regression

In [9]:
# a dict with duplicate titles and their respective positions in the df
duplicates = df[df.duplicated('title', keep=False)].groupby('title').groups

In [10]:
def flatten_list(l):
    return [item for sublist in l for item in sublist]

In [73]:
import collections

def to_be_dropped_indices(dictionary):
    to_be_dropped = [] # indices to be dropped from original df
    temp = []

    for k,v in dictionary.items():
        duplicates_df = df[df.index.isin(v.values)]
        
        # if the rows have the same category, they are all dropped except the last one
        if len(set(list(duplicates_df.category))) == 1:
            to_be_dropped.append(list(duplicates_df.index[:len(duplicates_df.category)-1]))
        else: 
            # drop least common category for a notebook
            dup_counter = collections.Counter(duplicates_df.category)
            most_common = dup_counter.most_common()[0][0]
            how_many_common = dup_counter.most_common()[0][1]
            to_be_dropped.append(list(duplicates_df.index.where(duplicates_df['category'] != most_common).dropna()))
            # to_be_dropped.append(list(duplicates_df.index[:how_many_common].where(duplicates_df['category'] == most_common).dropna())) NOT SURE ABOUT THIS ONE !
            print(how_many_common)

    return flatten_list(to_be_dropped)
            
            


# len(flatten_list(to_be_dropped))

In [74]:
to_be_dropped_indices(duplicates)

4
1
1
4
1
1
3
2
1
1
1
1
1
1
1
1
2
1
1
2
1
1
1
6
1
3
4
6
2
6
3
2
1
2
2
1
1
3
1
1
3
1
1
3
1
2
5
2
1
1
2
1
1
1
1
1
1
1
1
1
2
1
3
1
1
3
2
2
1
2
2
2
3
7
7
1
2
1
3
6
2
1
1
1
1
1
3
1
2
1
1
1
1
2
2
3
1
2
4
1
1
1
1
1
1
3
1
2
2
1
1
1
1
2
1
1
2
5
4
1
1
2
2
1
1
1
1
3
2
2
1
1
1
1
4
1
2
1
1
1
1
1
1
2
4
6
3
2
1
2
1
1
1
1
1
1
6
3
2
4
10
1
1
2
1
3
2
1
2
4
1
1
1
3
1
1
1
1
3
1
3
1
1
1
1
1
10
14
2
3
2
3
6
1
2
4
1
1
1
1
2
2
1
1
2
1
1
1
1
2
1
1
2
1
1
1
1
1
1
1
2
2
1
1
2
1
1
1
1
1
3
2
1
1
1
1
1
1
1
3
1
2
2
2
10
1
1
1
1
1
1
2
1
2
4
2
2
1
1
1
8
1
1
1
5
1
1
4
1
2
2
2
2
1
1
1
1
1
2
1
1
4
4
2
1
1
3
1
1
2
1
1
2
1
1
1
1
3
1
1
1
1
1
1
2
1
1
4
1
1
1
1
1
1
1
1
1
1
1
2
1
1
1
2
1
1
1
2
1
1
1
3
1
2
1
1
1
1
2
2
1
1
1
3
1

['8646',
 '7627',
 '9350',
 '6759',
 '9313',
 '10416',
 '2799',
 '2196',
 '11264',
 '2471',
 '10699',
 '5971',
 '8918',
 '452',
 '1062',
 '646',
 '964',
 '10694',
 '2769',
 '2937',
 '9348',
 '10209',
 '8434',
 '2884',
 '3058',
 '3268',
 '3292',
 '3386',
 '3785',
 '3884',
 '3980',
 '4122',
 '4247',
 '4605',
 '4662',
 '1882',
 '7858',
 '7919',
 '9330',
 '10530',
 '11589',
 '1971',
 '10185',
 '9006',
 '1617',
 '1872',
 '2230',
 '2464',
 '6980',
 '6978',
 '10618',
 '10642',
 '7974',
 '10645',
 '10681',
 '9047',
 '9168',
 '10333',
 '2997',
 '11384',
 '9080',
 '9326',
 '10366',
 '1926',
 '2527',
 '10661',
 '9386',
 '8931',
 '3284',
 '3866',
 '2891',
 '3410',
 '3786',
 '3984',
 '4126',
 '4255',
 '9093',
 '5726',
 '734',
 '1008',
 '7797',
 '8748',
 '2029',
 '2465',
 '7810',
 '8959',
 '3081',
 '3083',
 '3088',
 '3096',
 '3097',
 '585',
 '9008',
 '1835',
 '1888',
 '2080',
 '2461',
 '9380',
 '1987',
 '2179',
 '3073',
 '10696',
 '2938',
 '11177',
 '11191',
 '246',
 '8989',
 '10275',
 '199',
 '5108',
 '8865',
 '8707',
 '30',
 '8860',
 '9055',
 '10341',
 '11198',
 '8452',
 '9340',
 '8465',
 '9346',
 '8424',
 '9311',
 '8407',
 '3304',
 '3291',
 '3840',
 '4407',
 '5967',
 '6214',
 '269',
 '714',
 '984',
 '202',
 '2307',
 '3470',
 '3663',
 '9101',
 '10181',
 '211',
 '447',
 '658',
 '972',
 '2965',
 '6387',
 '6473',
 '7595',
 '9352',
 '9094',
 '2024',
 '2443',
 '604',
 '682',
 '2989',
 '3253',
 '4178',
 '820',
 '8911',
 '11126',
 '3032',
 '5021',
 '2060',
 '8871',
 '4049',
 '9342',
 '10638',
 '8938',
 '8791',
 '1795',
 '2033',
 '2155',
 '10164',
 '9082',
 '3929',
 '7834',
 '7649',
 '9213',
 '5688',
 '703',
 '7717',
 '1036',
 '9584',
 '1915',
 '5029',
 '5061',
 '5072',
 '9391',
 '10971',
 '494',
 '2930',
 '3247',
 '3312',
 '3335',
 '5240',
 '7903',
 '11236',
 '1933',
 '5258',
 '7734',
 '8236',
 '11680',
 '790',
 '1911',
 '10993',
 '3287',
 '3911',
 '10171',
 '10124',
 '8334',
 '7925',
 '10082',
 '10105',
 '9369',
 '10561',
 '10155',
 '10133',
 '10229',
 '9323',
 '10534',
 '10582',
 '3490',
 '258',
 '995',
 '8519',
 '8913',
 '9076',
 '1837',
 '2970',
 '2405',
 '2109',
 '5672',
 '7157',
 '8995',
 '473',
 '3059',
 '3277',
 '8070',
 '36',
 '280',
 '1847',
 '2043',
 '8062',
 '3316',
 '8996',
 '10072',
 '5670',
 '3815',
 '9033',
 '10319',
 '8008',
 '70',
 '10077',
 '712',
 '7663',
 '8141',
 '9351',
 '7769',
 '8083',
 '7780',
 '8156',
 '8526',
 '9238',
 '2843',
 '3064',
 '7747',
 '313',
 '8333',
 '1938',
 '4052',
 '10507',
 '9435',
 '8540',
 '8886',
 '9396',
 '7753',
 '9112',
 '1863',
 '2106',
 '2467',
 '1663',
 '1920',
 '2563',
 '7607',
 '555',
 '11586',
 '11596',
 '9294',
 '10487',
 '8994',
 '9322',
 '10280',
 '10432',
 '251',
 '523',
 '11',
 '217',
 '6678',
 '5581',
 '5687',
 '5865',
 '5939',
 '5734',
 '2078',
 '2479',
 '1887',
 '2087',
 '1924',
 '2577',
 '1993',
 '4152',
 '1961',
 '1917',
 '2110',
 '9194',
 '11187',
 '7279',
 '3046',
 '8972',
 '8975',
 '1628',
 '5414',
 '6993',
 '9034',
 '9371',
 '4734',
 '9266',
 '8914',
 '8929',
 '8869',
 '8899',
 '8905',
 '8248',
 '8872',
 '8274',
 '8243',
 '8701',
 '9159',
 '3329',
 '7934',
 '9392',
 '8897',
 '7571',
 '1658',
 '11663',
 '321',
 '4794',
 '6638',
 '9403',
 '241',
 '273',
 '467',
 '718',
 '2790',
 '9698',
 '5597',
 '3670',
 '8644',
 '294',
 '563',
 '10113',
 '10141',
 '10228',
 '10191',
 '11166',
 '11220',
 '11165',
 '11176',
 '11185',
 '11112',
 '6524',
 '6883',
 '9100',
 '3391',
 '8951',
 '1998',
 '2362',
 '6256',
 '2118',
 '2287',
 '4186',
 '3069',
 '2912',
 '3689',
 '3798',
 '4019',
 '3712',
 '4120',
 '3015',
 '3249',
 '3573',
 '4194',
 '2887',
 '3643',
 '3788',
 '4212',
 '3310',
 '3322',
 '3424',
 '3945',
 '3951',
 '4228',
 '4235',
 '4371',
 '3180',
 '3733',
 '3272',
 '3874',
 '4200',
 '2927',
 '3812',
 '4147',
 '4299',
 '3881',
 '3186',
 '4570',
 '4577',
 '3044',
 '3266',
 '3888',
 '3119',
 '3455',
 '3367',
 '3963',
 '2787',
 '2948',
 '3821',
 '4163',
 '3288',
 '11000',
 '3795',
 '3159',
 '3691',
 '3114',
 '3703',
 '3121',
 '3668',
 '3043',
 '2885',
 '3420',
 '3260',
 '3731',
 '4495',
 '3191',
 '2808',
 '2847',
 '3106',
 '3426',
 '3766',
 '3467',
 '3491',
 '3546',
 '4448',
 '4615',
 '3093',
 '3474',
 '3464',
 '2853',
 '3723',
 '3762',
 '8251',
 '9265',
 '9344',
 '10085',
 '330',
 '10118',
 '8939',
 '2919',
 '3738',
 '3808',
 '4051',
 '4142',
 '4303',
 '4622',
 '8985',
 '3402',
 '239',
 '213',
 '10218',
 '10103',
 '9375',
 '2892',
 '3639',
 '4153',
 '4302',
 '10215',
 '2478',
 '2728',
 '10160',
 '8840',
 '9364',
 '10564',
 '10739',
 '9402',
 '11272',
 '11304',
 '11356',
 '11270',
 '11300',
 '11556',
 '11312',
 '11535',
 '11630',
 '11416',
 '11423',
 '9062',
 '9018',
 '8480',
 '9374',
 '11429',
 '11488',
 '5621',
 '3148',
 '3122',
 '8677',
 '3115',
 '9293',
 '7789',
 '7645',
 '8858',
 '4154',
 '2925',
 '3687',
 '3130',
 '3652',
 '3347',
 '2166',
 '3283',
 '3899',
 '2955',
 '3744',
 '180',
 '2961',
 '2813',
 '3153',
 '3440',
 '1914',
 '7800',
 '1850',
 '2804',
 '3138',
 '2008',
 '2594',
 '2780',
 '3103',
 '3436',
 '2933',
 '3750',
 '3790',
 '4014',
 '2817',
 '2924',
 '3682',
 '4004',
 '3132',
 '3182',
 '3160',
 '2841',
 '1729',
 '1864',
 '3141',
 '3794',
 '2812',
 '3644',
 '3415',
 '2791',
 '3372',
 '3520',
 '4629',
 '4709',
 '4725',
 '4745',
 '4777',
 '4863',
 '3423',
 '4724',
 '4451',
 '2816',
 '7265',
 '5212',
 '11422',
 '3080',
 '1873',
 '9069',
 '2215',
 '2323',
 '5637',
 '5795',
 '1905',
 '2512',
 '2339',
 '3382',
 '4733',
 '5742',
 '6603',
 '7162',
 '10619',
 '3973',
 '3969',
 '2420',
 '2609',
 '7884',
 '5540',
 '5846',
 '10100',
 '2084',
 '2477',
 '4230',
 '1838',
 '1875',
 '2044',
 '11679',
 '3378',
 '7673',
 '7866',
 '8011',
 '8052',
 '8393',
 '8973',
 '9274',
 '10259',
 '10550',
 '10603',
 '10654',
 '6275',
 '7719',
 '5744',
 '11299',
 '11588',
 '11266',
 '11293',
 '11335',
 '11410',
 '11436',
 '11485',
 '11527',
 '9286',
 '10467',
 '7291',
 '7318',
 '7321',
 '7322',
 '7332',
 '7333',
 '7334',
 '7335',
 '7336',
 '7337',
 '7338',
 '7339',
 '6260',
 '11524',
 '11454',
 '11354',
 '11504',
 '1580',
 '631',
 '695',
 '5853',
 '10150',
 '6250',
 '6002',
 '9300',
 '10482',
 '9073',
 '4913',
 '4922',
 '10488',
 '2097',
 '1962',
 '2556',
 '248',
 '680',
 '1078',
 '4078',
 '1678',
 '1958',
 '2901',
 '3307',
 '3789',
 '3939',
 '4135',
 '2895',
 '3519',
 '3787',
 '2896',
 '3389',
 '3478',
 '3512',
 '3672',
 '3800',
 '4125',
 '4239',
 '4606',
 '9345',
 '10498',
 '9061',
 '9279',
 '10347',
 '9564',
 '2566',
 '9318',
 '7605',
 '2894',
 '3796',
 '4128',
 '4260',
 '2980',
 '9233',
 '5692',
 '5905',
 '7857',
 '7278',
 '11301',
 '7554',
 '8063',
 '2998',
 '3265',
 '9023',
 '605',
 '598',
 '158',
 '10177',
 '2871',
 '2963',
 '4115',
 '7625',
 '3734',
 '3793',
 '4003',
 '4134',
 '4267',
 '4610',
 '222',
 '458',
 '1853',
 '2092',
 '2949',
 '3254',
 '4198',
 '2303',
 '90',
 '302',
 '348',
 '508',
 '709',
 '1045',
 '9282',
 '10445',
 '9529',
 '4398',
 '621',
 '677',
 '10633',
 '3020',
 '7940',
 '4027',
 '5027',
 '6841',
 '6112',
 '6054',
 '5254',
 '5377',
 '5679',
 '9851',
 '1902',
 '2138',
 '2222',
 '9087',
 '5338',
 '5368',
 '7701',
 '7694',
 '10629',
 '7872',
 '7910',
 '1861',
 '1945',
 '7953',
 '758',
 '1083',
 '2041',
 '2447',
 '6854',
 '2694',
 '6006',
 '5944',
 '5088',
 '2526',
 '11267',
 '11269',
 '11276',
 '11277',
 '11279',
 '11280',
 '11281',
 '11283',
 '11284',
 '11285',
 '11286',
 '11287',
 '11288',
 '11289',
 '11290',
 '11291',
 '11292',
 '11294',
 '11297',
 '11307',
 '11308',
 '11309',
 '11314',
 '11315',
 '11317',
 '11318',
 '11320',
 '11322',
 '11324',
 '11325',
 '11326',
 '11327',
 '11328',
 '11329',
 '11334',
 '11361',
 '11365',
 '11377',
 '11378',
 '11393',
 '11394',
 '11395',
 '11396',
 '11407',
 '11409',
 '11550',
 '11555',
 '11560',
 '11562',
 '11565',
 '11567',
 '11568',
 '11569',
 '11570',
 '11571',
 '11572',
 '11573',
 '11574',
 '11575',
 '11576',
 '11577',
 '11578',
 '535',
 '788',
 '847',
 '866',
 '870',
 '874',
 '875',
 '887',
 '888',
 '889',
 '890',
 '904',
 '7846',
 '2848',
 '2354',
 '9085',
 '9284',
 '8093',
 '8375',
 '291',
 '492',
 '637',
 '743',
 '1070',
 '8708',
 '9419',
 '733',
 '5718',
 '6051',
 '10199',
 '6225',
 '355',
 '9295',
 '9427',
 '10446',
 '4886',
 '6606',
 '5480',
 '5312',
 '5314',
 '5592',
 '6224',
 '6322',
 '5504',
 '5058',
 '5233',
 '5613',
 '5241',
 '5041',
 '5079',
 '5248',
 '5531',
 '5650',
 '9299',
 '5271',
 '5345',
 '5349',
 '5260',
 '5313',
 '5316',
 '5237',
 '5284',
 '5234',
 '5246',
 '5298',
 '5290',
 '11095',
 '8950',
 '6263',
 '9308',
 '9301',
 '9334',
 '10070',
 '7748',
 '8132',
 '6827',
 '6861',
 '6951',
 '6786',
 '6762',
 '9335',
 '9347',
 '9317',
 '3157',
 '9012',
 '244',
 '1904',
 '2241',
 '2515',
 '8327',
 '8326',
 '8964',
 '8934',
 '8654',
 '7604',
 '10139',
 '7803',
 '10102',
 '9823',
 '7882',
 '9961',
 '7924',
 '8522',
 '10047',
 '4410',
 '3129',
 '5868',
 '2293',
 '1034',
 '546',
 '1037',
 '3041',
 '9046',
 '10332',
 '4994',
 '9446',
 '10223',
 '10193',
 '4246',
 '1929',
 '634',
 '2918',
 '3483',
 '3487',
 '3489',
 '3511',
 '3392',
 '3479',
 '3500',
 '3505',
 '3550',
 '3480',
 '3485',
 '3486',
 '3509',
 '11413',
 '4070',
 '8380',
 '8917',
 '11273',
 '11303',
 '3427',
 '3965',
 '2141',
 '5045',
 '5264',
 '5495',
 '8944',
 '9137',
 '8998',
 ...]

In [99]:
df[df.index.isin([1987, 2179, 2337])]

                          title  subcategory        category
1987  A Journey through Titanic          svc  classification
2179  A Journey through Titanic  naive bayes  classification
2337  A Journey through Titanic          knn  classification

# Collecting notebooks by category

In [52]:
for keyword in keywords_df['subcategory']:
    for i in range(1,16):
        try :
                kernels = api.kernels_list(search = keyword, page=i)
                for kernel in kernels:
                        api.kernels_pull(kernel.ref, path = DATA_PATH_NOTEBOOKS + search(keyword,keywords_df))
        except Exception as e:
            print('Kaggle API exception : ', kernel.ref, 'Notebook not found')

Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found
Kaggle API exception : Notebook not found

In [21]:
import re
s = '<a class=""anchor"" id="2"></a>hkdfv'
result = re.search(r'<a class=""anchor""(.*?)</a>', s).group(1)
result = re.sub(r'<a class=""anchor"".*?</a>'," ",s)
result

' hkdfv'