List of keywords to delete :

* plsregression - regression
* adaline - classification
* perceptron - classification

List of notebooks to delete :
* habibmrad1983/awesome-cv-with-fashion-mnist-classification - affinity propagation - clustering
* evandrodinizphb/nlp-suicidal-pytorch-bert-kfold - self organising map - clustering
* habibmrad1983/awesome-ml-frameworks-and-mnist-classification - fcm - clustering
* Clustering notebooks where classification figure in title and visversa
* Clustering notebooks where regression figure in title and visversa
* Classification notebooks where regression figure in title and visversa

In [17]:
import pandas as pd
import re
import numpy as np

In [2]:
list_ntb = pd.read_csv("../data/ntb_list.csv").drop(['Unnamed: 0'],axis=1)
list_ntb

,title,subcategory,category
0,sudhirnl7/linear-regression-tutorial,linear regression,regression
1,goyalshalini93/car-price-prediction-linear-reg...,linear regression,regression
2,divan0/multiple-linear-regression,linear regression,regression
3,anthonypino/price-analysis-and-linear-regression,linear regression,regression
4,vivinbarath/simple-linear-regression-for-salar...,linear regression,regression
...,...,...,...
10458,fanbyprinciple/reinforcement-learning-on-opena...,reinforcement,reinforcement learning
10459,alexisbcook/exercise-one-step-lookahead,reinforcement,reinforcement learning
10460,alexisbcook/exercise-interactive-maps,reinforcement,reinforcement learning
10461,lbarbosa/connectx-deep-reinforcement-learning,reinforcement,reinforcement learning
10462,hsperr/halite-iv-dqn-example-pytorch,reinforcement,reinforcement learning

In [3]:
data = pd.read_csv("../data/cleaned_ntb_only_en.csv").drop(['Unnamed: 0'],axis=1)
data

,cell-type,source,title,tag
0,code,import pandas as pd\nimport numpy as np\nimpor...,0-9-try-better-parameters-better-score.ipynb,regression
1,markdown,try to overfit more pls upvote if you forklike...,0-9-try-better-parameters-better-score.ipynb,regression
2,markdown,sub1 0869,0-9-try-better-parameters-better-score.ipynb,regression
3,markdown,credit very simple code with score 0886 by aya...,0-9-try-better-parameters-better-score.ipynb,regression
4,code,import pandas as pd\nimport numpy as np\nfrom ...,0-9-try-better-parameters-better-score.ipynb,regression
...,...,...,...,...
343588,code,"\nPOI_data = gpd.read_file(""../input/geospatia...",your-first-map.ipynb,reinforcement learning
343589,markdown,next we create a map from all four geodatafram...,your-first-map.ipynb,reinforcement learning
343590,code,"\nax = counties.plot(figsize=(10,10), color='n...",your-first-map.ipynb,reinforcement learning
343591,markdown,it looks like the northeastern part of the sta...,your-first-map.ipynb,reinforcement learning
343592,markdown,have questions or comments visit the course di...,your-first-map.ipynb,reinforcement learning

# Deleting by subcategory

In [4]:
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'adaline'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'perceptron'], inplace=True)

In [5]:
list_ntb

,title,subcategory,category
0,sudhirnl7/linear-regression-tutorial,linear regression,regression
1,goyalshalini93/car-price-prediction-linear-reg...,linear regression,regression
2,divan0/multiple-linear-regression,linear regression,regression
3,anthonypino/price-analysis-and-linear-regression,linear regression,regression
4,vivinbarath/simple-linear-regression-for-salar...,linear regression,regression
...,...,...,...
10458,fanbyprinciple/reinforcement-learning-on-opena...,reinforcement,reinforcement learning
10459,alexisbcook/exercise-one-step-lookahead,reinforcement,reinforcement learning
10460,alexisbcook/exercise-interactive-maps,reinforcement,reinforcement learning
10461,lbarbosa/connectx-deep-reinforcement-learning,reinforcement,reinforcement learning
10462,hsperr/halite-iv-dqn-example-pytorch,reinforcement,reinforcement learning

# Deleting irrelivant notebooks

In [6]:
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)
list_ntb.drop(list_ntb.index[list_ntb['subcategory'] == 'plsregression'], inplace=True)

In [7]:
list_ntb[list_ntb['title'] == 'habibmrad1983/awesome-cv-with-fashion-mnist-classification']

,title,subcategory,category
3290,habibmrad1983/awesome-cv-with-fashion-mnist-cl...,affinity propagation,clustering
7137,habibmrad1983/awesome-cv-with-fashion-mnist-cl...,deeplab,computer vision

In [8]:
list_ntb.drop(index =3290,inplace=True)

In [9]:
list_ntb[list_ntb['title'] == 'evandrodinizphb/nlp-suicidal-pytorch-bert-kfold']

,title,subcategory,category
3308,evandrodinizphb/nlp-suicidal-pytorch-bert-kfold,self organising map,clustering

In [10]:
list_ntb.drop(index =3308,inplace=True)

In [11]:
list_ntb[list_ntb['title'] == 'habibmrad1983/awesome-ml-frameworks-and-mnist-classification']

,title,subcategory,category
3313,habibmrad1983/awesome-ml-frameworks-and-mnist-...,self organising map,clustering
3459,habibmrad1983/awesome-ml-frameworks-and-mnist-...,fcm,clustering

In [12]:
list_ntb.drop(index =3459,inplace=True)

- Remove Clustering notebooks where Classification figure in title and visversa
- Remove Clustering notebooks where Regression figure in title and visversa
- Remove Classification notebooks where Regression figure in title and visversa

In [13]:
def remove_ntb(classe1,classe2,list_ntb,data) :
    df1 = list_ntb[list_ntb['category'] == classe1] 
    List_to_delete_1 = []
    for i in df1.index:
        if classe1 in df1.loc[i]['title'] and classe2 in df1.loc[i]['title']:
            List_to_delete_1.append(df1.loc[i]['title'])

    df2 = list_ntb[list_ntb['category'] == 'classe2'] 
    List_to_delete_2 = []
    for i in df2.index:
        if classe1 in df2.loc[i]['title'] and classe2 in df2.loc[i]['title']:
            List_to_delete_2.append(df2.loc[i]['title'])

    for i in list_ntb.index:
        if list_ntb.loc[i]['title'] in List_to_delete_1 or list_ntb.loc[i]['title'] in List_to_delete_2 :
            list_ntb.drop(index = i,inplace=True)

    final_list = []
    for i in list_ntb.index:
        final_list.append(re.sub("^[^/]*/",'',list_ntb.loc[i]['title'])+".ipynb")


    count_1 = 0
    count_2 = 0

    for i in data.index:
        if data.loc[i]['title'] in final_list:
            count_1 +=1
        else :
            data.drop(index = i,inplace=True)
            count_2 +=1

    print("Number of Removed cells :",count_2)
    print("Removed notebooks \n ",List_to_delete_1 +List_to_delete_2)

In [14]:
data.shape

(343593, 4)

In [15]:
remove_ntb('clustering','classification',list_ntb,data)
print("-----------------------------------------------")
remove_ntb('clustering','regression',list_ntb,data)
print("-----------------------------------------------")
remove_ntb('regression','classification',list_ntb,data)

Number of Removed cells : 20907
Removed notebooks
  ['dreamslab/eda-classification-and-clustering-diagnostic', 'abinayaravi/seeds-data-clustering-and-classification', 'yoghurtpatil/clustering-and-classification-on-student-data', 'naim99/image-classification-clustering-step-by-step', 'bulentsiyah/comparing-classification-clustering-regression-ml', 'caesarmario/iris-eda-classification-and-clustering', 'aryantyagi19/customer-analysis-clustering-and-classification', 'vigneshprakash/red-wine-data-eda-clustering-and-classification', 'yashikachugh/eda-clustering-classification']
-----------------------------------------------
Number of Removed cells : 90
Removed notebooks
  ['minc33/k-means-clustering-vs-logistic-regression', 'jamesdonconley/clustering-improves-logistic-regression']
-----------------------------------------------
Number of Removed cells : 0
Removed notebooks
  []

In [16]:
data.shape

(322596, 4)

# Building dataframe pairs

In [36]:
data = data.reset_index(drop=True)

In [37]:
data

,cell-type,source,title,tag
0,code,import pandas as pd\nimport numpy as np\nimpor...,0-9-try-better-parameters-better-score.ipynb,regression
1,markdown,try to overfit more pls upvote if you forklike...,0-9-try-better-parameters-better-score.ipynb,regression
2,markdown,sub1 0869,0-9-try-better-parameters-better-score.ipynb,regression
3,markdown,credit very simple code with score 0886 by aya...,0-9-try-better-parameters-better-score.ipynb,regression
4,code,import pandas as pd\nimport numpy as np\nfrom ...,0-9-try-better-parameters-better-score.ipynb,regression
...,...,...,...,...
322591,code,"\nPOI_data = gpd.read_file(""../input/geospatia...",your-first-map.ipynb,reinforcement learning
322592,markdown,next we create a map from all four geodatafram...,your-first-map.ipynb,reinforcement learning
322593,code,"\nax = counties.plot(figsize=(10,10), color='n...",your-first-map.ipynb,reinforcement learning
322594,markdown,it looks like the northeastern part of the sta...,your-first-map.ipynb,reinforcement learning
322595,markdown,have questions or comments visit the course di...,your-first-map.ipynb,reinforcement learning

In [38]:
new_df = pd.DataFrame(columns = ['markdown','code','title'])

In [39]:
List_ntb = []
for i in data.index:
    List_ntb.append(data.loc[i]['title'])

List_ntb_only = np.unique(List_ntb)

In [40]:
def grp_pairs(data,title,limit,new_df):
    i = 0
    
    if i < limit-1 and data.loc[i]['cell-type'] == 'markdown' and data.loc[i+1]['cell-type'] == 'code':
        new_df.loc[len(new_df)] = [data.loc[i]['source'],data.loc[i+1]['source'],title]
        i+=2
        if i < limit :
            grp_pairs(data[i:].reset_index(drop=True),title,len(data[i:]),new_df)

    else :
            i+=1
            if i < limit :
                grp_pairs(data[i:].reset_index(drop=True),title,len(data[i:]),new_df)

In [41]:
for ntb in List_ntb_only :
    data_ = data[data['title'] == ntb].reset_index(drop=True)

    try:
        grp_pairs(data_,ntb,len(data),new_df)
    
    except Exception as e:
        print(ntb)

data-science-101.ipynb
datasets-and-tutorial-kernels-for-beginners.ipynb
index-of-my-kaggle-notebooks.ipynb
learning-materials-on-kaggle.ipynb
ml-dl-tutorials.ipynb
notes-on-gpt-2-and-bert-models.ipynb
notes-on-word-embedding-algorithms.ipynb
object-detection-model-architecture.ipynb
primer-on-naive-bayes-algorithms.ipynb
ridge-regression-cost-function.ipynb

In [42]:
new_df

,markdown,code,title
0,unet pytorch implementationthis notebook conta...,%matplotlib inline\nimport os\nimport time\n\n...,0-123-lb-pytorch-unet-run-on-google-cloud.ipynb
1,below i import the preprocessed labels data th...,\ndf_train = pd.read_csv(datapath_prep+'train....,0-123-lb-pytorch-unet-run-on-google-cloud.ipynb
2,in an attempt to control the number of false p...,\ndf_train['box_area'] = df_train['width'] * d...,0-123-lb-pytorch-unet-run-on-google-cloud.ipynb
3,the following code prepares the training data ...,\nvalidation_frac = 0.10\n\ndf_train = df_trai...,0-123-lb-pytorch-unet-run-on-google-cloud.ipynb
4,the following code pertains to the unet model ...,"\ndef imgMinMaxScaler(img, scale_range):\n ...",0-123-lb-pytorch-unet-run-on-google-cloud.ipynb
...,...,...,...
82057,vectorisation,from gensim.models import Word2Vec\n\nskip_gra...,zindi-competition-ensemble-models-tweet-predic...
82058,models,"metrics = pd.DataFrame(columns=['model' ,'vect...",zindi-competition-ensemble-models-tweet-predic...
82059,logisticregressionsvcmultinomialnbdecisiontree...,from joblib import dump\n\ndef fit_and_predict...,zindi-competition-ensemble-models-tweet-predic...
82060,lstm,from tensorflow.keras.preprocessing.text impor...,zindi-competition-ensemble-models-tweet-predic...
82061,electra,import re\nimport torch\nfrom transformers imp...,zindi-competition-ensemble-models-tweet-predic...

In [45]:
data[data['title'] == 'data-science-101.ipynb']

,cell-type,source,title,tag
313538,markdown,just follow the steps to answer the questions ...,data-science-101.ipynb,reinforcement learning

In [46]:
data[data['title'] == 'datasets-and-tutorial-kernels-for-beginners.ipynb']

,cell-type,source,title,tag
243496,markdown,this is a simple notebook to provide a list fo...,datasets-and-tutorial-kernels-for-beginners.ipynb,nlp

In [47]:
data[data['title'] == 'index-of-my-kaggle-notebooks.ipynb']

,cell-type,source,title,tag
32723,markdown,author carl mcbride ellis linkedinthe followin...,index-of-my-kaggle-notebooks.ipynb,regression

In [48]:
data.to_csv("../data/data.csv")
new_df.to_csv("../data/new_df.csv")